streamlit
groq
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
pypdf
faiss-cpu
fastembed
pandas
matplotlib
networkx
scikit-learn
sentence-transformers
nltk
# force reinstall
