streamlit
groq
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-core
pypdf
fastembed
pandas
matplotlib
networkx
scikit-learn
nltk
chromadb==0.4.24
protobuf==3.20.3
opentelemetry-exporter-otlp-proto-grpc==1.17.0