streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-ollama
sentence-transformers
torch
chromadb
networkx
matplotlib
pandas
scikit-learn
nltk
pymupdf
pypdf
langchain-huggingface
groq